<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<?php echo base_url();?>" />
    <meta charset="UTF-8">
    <title>快舒尔招聘</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="x-rim-auto-match" content="none" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="css/styles.css" />
    <script type="text/javascript" src="js/jquery.1.7.2.min.js"></script>
    <script type="text/javascript" src="js/alert.js"></script>
    <script type="text/javascript" src="js/loading.js"></script>
</head>
<style>
    a{text-decoration:none;}
    .bottom {
        left:0;
        position: fixed;
        bottom: 0;
        z-index: 100;
    }
</style>
<body>
<div class="bg_two" style="width: 100%;margin: 0 auto;">
    <img width="100%" src="img/hr/bg2.png">
</div>
<div style="height:80px;text-align: center;line-height: 80px;">
    <span><b style="color: #07ABCC;font-size: 18px;">生产工人 数名</b></span>
</div>
<div class="zw_content">
    <div style="margin: 0 auto;background-color: #B2E5EF;position:relative;">
        <img style="width:10px;margin-top:auto;margin-bottom:auto;top:0;bottom:0;position:absolute;margin-left: 6%;" src="/img/hr/area.png">&nbsp;<span style="color: #fff;margin-left: 9%;">工作地点：北京</span>
    </div>
    <div style="margin: 0 auto;background-color: #B2E5EF;margin-top: 1px;position:relative;">
        <img style="width:10px;margin-top:auto;margin-bottom:auto;top:0;bottom:0;position:absolute;margin-left: 6%;" src="/img/hr/group.png">&nbsp;<span style="color: #fff;margin-left: 9%;">工作性质：全职</span>
    </div>
    <div style="margin: 0 auto;background-color: #B2E5EF;margin-top: 1px;position:relative;">
        <img style="width:12.2px;margin-top:auto;margin-bottom:auto;top:0;bottom:0;position:absolute;margin-left: 6%;" src="/img/hr/xz.png">&nbsp;<span style="color: #fff;margin-left: 9%;">工作薪资：面议</span>
    </div>
    <ul style="width: 100%;">
        <li><br/>
            <span style="margin-top: 4%;margin-left: 4%;"><b style="font-size: 18px;">岗位职责</b></span>
            <p style="margin-left: 4%;margin-right:4%;margin-top: 2%;">1、组装医疗设备；<br/>
                2、严格按照作业标准完成各个生产工序；<br/>
                3、保质保量完成生产组长安排的工作任务。<br/>
            </p><br/>
            <span style="margin-top: 4%;margin-left: 4%;"><b style="font-size: 18px;">任职要求</b></span>
            <p style="margin-left: 4%;margin-right:4%;margin-top: 2%;">1、男女不限，年纪在20以上40岁以下；<br/>
                2、学历不限，如个人能力突出可择优考虑；<br/>
                3、为人诚实、憨厚；<br/>
                4、能吃苦，身体健康；<br/>
                5、有残疾证者优先。<br/>
            </p>
        </li>
    </ul>
</div>
<div style="width: 100%;height: 72px;margin: 0 auto;"></div>
<div class="bottom" style="width: 100%;height: 72px;margin: 0 auto;">
    <a href="mailto:wangqiuying@quinovare.com" style="width: 50%;height: 72px;float:left;background-color: #07ABCC;text-align: center;">
        <div style="width:100%;height:50%;color: #fff;text-align: center;line-height: 56px;">简历投递邮箱：</div>
        <div style="width:100%;height:50%;color: #fff;font-size: 12px;text-align: center;">wangqiuying@quinovare.com</div>
    </a>
    <a href="tel:01050960186" style="width: 50%;height: 72px;float:right;background-color:  #B2E5EF;text-align: center;">
        <div style="width:100%;height:50%;color: #fff;text-align: center;line-height: 56px;">联系电话：</div>
        <div style="width:100%;height:50%;color: #fff;font-size: 12px;text-align: center">010-50960186-8051</div>
    </a>
</div>
</body>
<script>
</script>
</html>
