<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<?php echo base_url();?>" />
    <meta charset="UTF-8">
    <title>快舒尔招聘</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="x-rim-auto-match" content="none" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="css/styles.css" />
    <script type="text/javascript" src="js/jquery.1.7.2.min.js"></script>
    <script type="text/javascript" src="js/alert.js"></script>
    <script type="text/javascript" src="js/loading.js"></script>
</head>

<style>
 a{text-decoration:none;}
</style>

<body>
<div class="bg_one" style="width: 100%;margin: 0 auto;">
    <img width="100%" src="img/hr/banner1.png">
</div>
<div class="kselogo" style="text-align: center;margin-top: 1%;">
    <img width="100" height="40" src="img/hr/kselogo.png">
</div>
<div style="text-align: center;">
    <span style="color: #ccc;font-size: 15px;">医疗行业</span>
</div>
<div style="width: 100%;background-color: #d4d4d4;height: 20px;margin: 0 auto;margin-top: 2%;">
    <span style="color: #5e5e5e;margin-left: 2%;">共<em id="out" style="font-style:normal;"></em>个热招职位</span>
</div>
<div class="content">
    <ul style="width: 100%;">
        <li style="margin: 0 auto;"><br/>
            <span style="margin-left: 4%;"><b><a style="color: #07ABCC;" href="/product/hr_area_yg">地区经理（云贵）1名 </a></b></span>
            <p style="margin-left: 4%;margin-right:4%;margin-top: 2%;">1、精准招商及代理商管理；<br/>
                2、完成全年销售指标；<br/>
                3、提高医护人员知晓率，做到专业化推广；<br/>
                4、管理地区KOL；<br/>
                5、培养及发展优秀的销售人才；<br/>
                6、代理商培训，服务支持代理商，提......<a href="/product/hr_area_yg"><span style="color:#07ABCC;">>>></span></a>
            </p>
            <br/>
        </li>
        <!--销售代表-->
        <li style="margin: 0 auto;margin-top: 4%;"><br/>
            <span style="margin-left: 4%;"><b><a style="color: #07ABCC;" href="/product/hr_xsdb_sh">销售代表（上海）1名 </a></b></span>
            <p style="margin-left: 4%;margin-right:4%;margin-top: 2%;">1、核心医院销售及专业化推广；<br/>
                2、完成全年销售指标；<br/>
                3、提高医护人员知晓率，做到专业化产品推广；<br/>
                4、代理商代表，患者，护士操作培训；<br/>
                5、能够独立开展科室会，沙龙等学术......<a href="/product/hr_xsdb_sh"><span style="color:#07ABCC;">>>></span></a>
            </p>
            <br/>
        </li>
        <li style="margin: 0 auto;margin-top: 4%;"><br/>
            <span style="margin-left: 4%;"><b><a style="color: #07ABCC;" href="/product/hr_xsdb_fz">销售代表（苏州）1名 </a></b></span>
            <p style="margin-left: 4%;margin-right:4%;margin-top: 2%;">1、核心医院销售及专业化推广；<br/>
                2、完成全年销售指标；<br/>
                3、提高医护人员知晓率，做到专业化产品推广；<br/>
                4、代理商代表，患者，护士操作培训；<br/>
                5、能够独立开展科室会，沙龙等学术......<a href="/product/hr_xsdb_fz"><span style="color:#07ABCC;">>>></span></a>
            </p>
            <br/>
        </li>

        <li style="margin: 0 auto;margin-top: 4%;"><br/>
            <span style="margin-left: 4%;"><b><a style="color: #07ABCC;" href="/product/hr_xsdb_lz">销售代表（兰州）1名 </a></b></span>
            <p style="margin-left: 4%;margin-right:4%;margin-top: 2%;">1、核心医院销售及专业化推广；<br/>
                2、完成全年销售指标；<br/>
                3、提高医护人员知晓率，做到专业化产品推广；<br/>
                4、代理商代表，患者，护士操作培训；<br/>
                5、能够独立开展科室会，沙龙等学术......<a href="/product/hr_xsdb_lz"><span style="color:#07ABCC;">>>></span></a>
            </p>
            <br/>
        </li>
        <li style="margin: 0 auto;margin-top: 4%;"><br/>
            <span style="margin-left: 4%;"><b><a style="color: #07ABCC;" href="/product/hr_regmark_qd">区域医学经理（北京/上海/广州）4名 </a></b></span>
            <p style="margin-left: 4%;margin-right:4%;margin-top: 2%;">1、负责区域专家的管理；<br/>
                2、负责区域性学术会议，如城市会、省级年会等的幻灯准备和专家沟通；<br/>
                3、负责区域性学术研究的开展；<br/>
                4、负责区域性医学问题的解答 ......<a href="/product/hr_regmark_qd"><span style="color:#07ABCC;">>>></span></a>
            </p>
            <br/>
        </li>
        <li style="margin: 0 auto;margin-top: 4%;"><br/>
            <span style="margin-left: 4%;"><b><a style="color: #07ABCC;" href="/product/hr_regmark_xxkf">线下客服专员（石家庄/哈尔滨/西安）3名 </a></b></span>
            <p style="margin-left: 4%;margin-right:4%;margin-top: 2%;">1、保质保量完成客户服务部分派的服务工作；<br/>
                2、能独立为用户完成体验试打和胰岛素注射，并获得良好的注射体验反馈；能发现用户在操作过程中的不规范操作并予以纠正；<br/>
                3、积累快舒尔产品和糖尿病相关知识......<a href="/product/hr_regmark_xxkf"><span style="color:#07ABCC;">>>></span></a>
            </p>
            <br/>
        </li>
        <li style="margin: 0 auto;margin-top: 4%;"><br/>
            <span style="margin-left: 4%;"><b><a style="color: #07ABCC;" href="/product/hr_jxyf">机械研发工程师 1名 </a></b></span>
            <p style="margin-left: 4%;margin-right:4%;margin-top: 2%;">1、负责产品研发设计的方案制定；<br/>
                2、负责产品的机械结构设计；<br/>
                3、负责产品图纸的绘制和维护；<br/>
                4、负责编制产品生产工艺，参与设计......<a href="/product/hr_jxyf"><span style="color:#07ABCC;">>>></span></a>
            </p>
            <br/>
        </li>

        <li style="margin: 0 auto;margin-top: 4%;"><br/>
            <span style="margin-left: 4%;"><b><a style="color: #07ABCC;" href="/product/hr_scgr">生产工人 数名 </a></b></span>
            <p style="margin-left: 4%;margin-right:4%;margin-top: 2%;">1、组装医疗设备；<br/>
                2、严格按照作业标准完成各个生产工序；<br/>
                3、保质保量完成生产组长安排的工作......<a href="/product/hr_scgr"><span style="color:#07ABCC;">>>></span></a>
            </p>
            <br/>
        </li>
        <li style="margin: 0 auto;margin-top: 4%;"><br/>
            <span style="margin-left: 4%;"><b><a style="color: #07ABCC;" href="/product/hr_zjy">销售部实习生 （北京/广州） 数名 </a></b></span>
            <p style="margin-left: 4%;margin-right:4%;margin-top: 2%;">1、学习产品知识，熟悉目标市场，培养销售技能；<br/>
                2、协助销售代表，通过日常拜访、科室会、大型推广活动等方式，树立良好的公司及品牌形象......<a href="/product/hr_zjy"><span style="color:#07ABCC;">>>></span></a>
            </p>
            <br/>
        </li>
    </ul>
</div>
</body>
<script>
    var lengli = $("ul li").length;
    var out = document.getElementById('out');
    out.innerHTML =  lengli;
    //document.getElementById('out').innerHTML = lengli;
</script>
</html>
